body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span {
  color: red;
}

label {
  display: block;
  margin-bottom: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.container {
  width: 60%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
  width: 130px;
  height: auto;
  border-radius: 8px;
  background-color: #007bff;
  margin: 0 20px 20px 50px;
}

.con-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.input-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.con-btu {
  margin: 0 25px 0 25px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 20ppx;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#btnAdd {
  background-color: #007bff;
  color: #fff;
}

button#btnDelete {
  background-color: #ff0000;
  color: #fff;
}

button#btnClear,
button#btnUpdate {
  background-color: #6c757d;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

table thead {
  background: #343a40;
  color: #fff;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

table a {
  color: #007bff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

#userTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#userTable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.selected {
  color: rgb(44, 133, 242);
  font-weight: bold;
  transition: all 0.3s;
}
